<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Fashion Style Website Test Suite">
    <listeners>
        <listener class-name="org.example.listeners.TestListener"/>
    </listeners>

    <test name="Home Page Tests">
        <classes>
            <class name="org.example.tests.HomePageTest"/>
        </classes>
    </test>

    <test name="Hearder Tests">
        <classes>
            <class name="org.example.tests.HeaderTest"/>
        </classes>
    </test>

    <test name="Product Detail Page Tests">
        <classes>
            <class name="org.example.tests.ProductDetailPageTest"/>
        </classes>
    </test>

</suite>